<!DOCTYPE html>
<html lang="zh-CN">
<head  th:replace="layout/header :: header"/>
<body>
<nav th:replace="layout/nav :: nav"></nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12main">

            <h5 class="sub-header"><a href="/order/create">创建订单</a></h5>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>产品名称</th>
                        <th>消费者名称</th>
                        <th>销售数量</th>
                        <th>销售单价</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="c : ${order}">
                        <td th:text="${c.id}"></td>
                        <td th:text="${c.product.name}"></td>
                        <td th:text="${c.customer.name}"></td>
                        <td th:text="${c.quantity}"></td>
                        <td th:text="${c.price}"></td>
                        <td>
                            <a  class="btn btn-primary"  th:href="@{'/order/edit/' + ${c.id}}">修改</a>
                            <a  class="btn btn-danger"  th:href="@{'/order/delete/'+ ${c.id}}">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<!-- /.container -->

<div th:replace="layout/footer :: footer"></div>

</body>
</html>

