<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Hunk's Website</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.endpoint == 'home' %} active {% endif %}">
                <a class="nav-link" href="{{ url_for('home') }}">首页<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bi-house-fill"></i>经转商
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="nav-link" href="{{ url_for('e2c.index') }}">
                        <i class="bi-card-list"></i>
                        列表
                    </a>
                    <a class="nav-link" href="{{ url_for('e2c.ocrIdcrad') }}">
                        <i class="bi-cursor-text"></i>
                        添加
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bi-person-square"></i>
                    {% if current_user.is_authenticated %}
                    Hello, {{ current_user.username }}.
                    {% endif %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="nav-link" href="{{ url_for('logout') }}"><i class="bi-eject"></i>退出</a>
                    
                </div>
            </li>
        </ul>
    </div>
  </nav>


  