<!DOCTYPE html>
<html lang="zh-CN">
<head  th:replace="layout/header :: header"/>
<body>
<nav th:replace="layout/nav :: nav"></nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12main">
            <h1 class="page-header">编辑新客户</h1>

            <form th:action="@{/customer/update}" th:object="${customerInfo}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="form-group">
                    <label for="name">客户名称</label>
                    <input type="text" class="form-control" id="name" placeholder="请输入客户名称" th:field="*{name}">
                </div>
                <div class="form-group">
                    <label for="phone">联系方式</label>
                    <input type="text" class="form-control" id="phone" placeholder="请输入客户联系方式" th:field="*{phone}">
                </div>
                <button type="submit" class="btn btn-default">保存</button>
            </form>



        </div>
    </div>
</div>
<!-- /.container -->

<div th:replace="layout/footer :: footer"></div>

</body>
</html>

