{% extends 'base.html' %}  #声明继承
{% from 'bootstrap/utils.html' import render_messages %}

{% block title %}{{ title_name }}{% endblock %}
{% block navbar %}
    {{ nav.top.render() }}
{% endblock %}

{% block content %}

<form method="post" id="ocrForm" name="ocrForm" enctype="multipart/form-data">

    <label for="fileUpload">身份证拍照上传</label>
    {{ form.hidden_tag() }}
    <input id="fileUpload" name="fileUpload"  class="form-control-file"  type="file" accept="image/*;" capture="camera" onchange="form.submit()" >
</form>


{% endblock %}
