<!DOCTYPE html>
<html lang="en">
<head  th:replace="layout/header :: header"/>
<body>
<nav th:replace="layout/nav :: nav"></nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12main">
            <div class="page-header">
                <h5 class="sub-header"></h5>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">创建产品</h3>
                </div>
                <div class="panel-body" >
                    <form th:action="@{/product/save}" th:object="${productInfo}" method="post">
                        <div class="form-group">
                            <label for="name">产品名称</label>
                            <input type="text" class="form-control" id="name" placeholder="请输入产品名称" th:field="*{name}">
                        </div>
                        <div class="form-group">
                            <label for="sku">SKU</label>
                            <input type="text" class="form-control" id="sku" placeholder="请输入产品sku" th:field="*{sku}">
                        </div>
                        <button type="submit" class="btn btn-default">保存</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.container -->

<div th:replace="layout/footer :: footer"></div>

</body>
</html>

</title>
</head>
<body>

</body>
</html>