<!DOCTYPE html>
<html lang="zh-CN">
<head  th:replace="layout/header :: header"/>
<body>
<nav th:replace="layout/nav :: nav"></nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12main">

            <div class="page-header">
                <h3 class="sub-header"><a href="/product/create">创建产品</a></h3>
            </div>

            <div class="panel panel-primary"  th:each="c : ${products}">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="${c.name}">Panel title</h3>
                </div>
                <div class="panel-body" >
                    <div class="list-group" th:if="${c.sku !=null}" >
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">SKU</h4>
                            <p class="list-group-item-text" th:text="${c.sku}">...</p>
                        </a>
                    </div>
                    <div class="list-group" th:if="${c.specification !=null}" >
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">规格</h4>
                            <p class="list-group-item-text" th:text="${c.specification}">...</p>
                        </a>
                    </div>
                    <div class="list-group" th:if="${c.feature !=null}" >
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">功能</h4>
                            <p class="list-group-item-text" th:text="${c.feature}">...</p>
                        </a>
                    </div>
                    <div class="list-group" th:if="${c.description !=null}" >
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">描述</h4>
                            <p class="list-group-item-text" th:text="${c.description}">...</p>
                        </a>
                    </div>
                    <p>
                        <a  class="btn btn-primary"  th:href="@{'/product/edit/' + ${c.id}}">修改</a>
                        <a  class="btn btn-danger"  th:href="@{'/product/delete/'+ ${c.id}}">删除</a>
                        <a  class="btn btn-danger"  th:href="@{'/product/detail/'+ ${c.id}}">详情</a>
                        <a  class="btn btn-danger"  th:href="@{'/instock/detail/'+ ${c.id}}">存货</a>
                    </p>
                </div>
            </div>

            </div>
        </div>
    </div>
</div>
<!-- /.container -->

<div th:replace="layout/footer :: footer"></div>

</body>
</html>

