{% extends 'base.html' %}

{% block title %}
    {{title_name}}
{% endblock %}

{% block content %}
<div class="container">  
    <div class="row justify-content-md-center"> 
    <form action="{{ url_for('youtubeVideoToAudio.addVideoLink') }}" method="post">
        <div class="form-group">
            <label for="InputVideoLink">链接</label>
            <input type="text" class="form-control" id="InputVideoLink" name="InputVideoLink" aria-describedby="InputVideoHelp">
            <small id="InputVideoHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <button type="submit" class="btn btn-primary">保存</button>
    </form>
    </div>
</div>

{% endblock %}

