{% extends 'base.html' %}

{% block title %}
    {{title_name}}
{% endblock %}

{% block content %}
<div class="container">    
    <div class="row justify-content-md-center">        
        {% for item in list %}
        <div class="card" style="width: 18rem;">
            <img src="{{item.videoThumbnail}}" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title">{{item.videoTitle}}</h5>
              <p class="card-text">{{item.videoDescription}}</p>
              <p>
                  <span>时长 {{item.videoDuration}}/</span>
                  <span>播放量 {{item.videoViewCount}}</span>
              </p>
              <a href="{{ url_for('youtubeVideoToAudio.playerVideo', id=item.videoId)}}" class="btn btn-primary" >播放</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row justify-content-md-center"> 
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            
            {% if current_page == 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('youtubeVideoToAudio.index', page=1)}}" aria-label="Previous">
                    <span aria-hidden="true">Previous</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('youtubeVideoToAudio.index', page=current_page-1)}}" aria-label="Previous">
                    <span aria-hidden="true">Previous</span>
                    </a>
                </li>
            {% endif %}
            {% if current_page == total_page %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('youtubeVideoToAudio.index', page=current_page)}}" aria-label="Next">
                    <span aria-hidden="true">Next</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('youtubeVideoToAudio.index', page=current_page+1)}}" aria-label="Next">
                    <span aria-hidden="true">Next</span>
                    </a>
                </li>
            {% endif %}
        </ul>
      </nav>
    </div>
    
</div>

{% endblock %}
