{% extends 'base.html' %}

{% block title %}
    {{title_name}}
{% endblock %}

{% block content %}
<div class="container">    
    <div class="row justify-content-md-center">        
        {% for item in list %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{item.videoThumbnail}}" >
            <div class="card-body">
              <h5 class="card-title">{{item.videoTitle}}</h5>
              <p class="card-text desc" >{{item.videoDescription}}</p>
              <p>
                  时长 {{item.videoDuration}}
              </p>
              <p>
                  播放量 {{item.videoViewCount}}
              </p>
              <div class="row justify-content-md-left">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <a href="{{ url_for('youtubeVideoToAudio.playerVideo', id=item.videoId)}}" class="btn btn-success" >More...</a>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <a href="{{ url_for('youtubeVideoToAudio.deleteVideo', id=item.videoId)}}" class="btn btn-primary" >删除</a>
                    </div>
                </div>
              </div>
              
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row justify-content-md-center"> 
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            
            {% if current_page == 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('youtubeVideoToAudio.index', page=1)}}" aria-label="Previous">
                    <span aria-hidden="true">Previous</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('youtubeVideoToAudio.index', page=current_page-1)}}" aria-label="Previous">
                    <span aria-hidden="true">Previous</span>
                    </a>
                </li>
            {% endif %}
            {% if current_page == total_page %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('youtubeVideoToAudio.index', page=current_page)}}" aria-label="Next">
                    <span aria-hidden="true">Next</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('youtubeVideoToAudio.index', page=current_page+1)}}" aria-label="Next">
                    <span aria-hidden="true">Next</span>
                    </a>
                </li>
            {% endif %}
        </ul>
      </nav>
    </div>
    
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
<script language="javascript" type="text/javascript">
/**参数说明： 
 * 根据长度截取先使用字符串，超长部分追加… 
 * str 对象字符串 
 * len 目标字节长度 
 * 返回值： 处理结果字符串 
 */ 

function cutString(str, len) { 
   //length属性读出来的汉字长度为1 
   if(str.length*2 <= len) { 
     return str; 
   } 
   var strlen = 0; 
   var s = ""; 
   for(var i = 0;i < str.length; i++) { 
     s = s + str.charAt(i); 
     if (str.charCodeAt(i) > 128) { 
       strlen = strlen + 2; 
       if(strlen >= len){ 
         return s.substring(0,s.length-1) + "..."; 
       } 
     } else { 
       strlen = strlen + 1; 
       if(strlen >= len){ 
         return s.substring(0,s.length-2) + "..."; 
       } 
     } 
   } 
   return s; 
 };


$(document).ready(function(){
        $("p.desc").each(function(){
            //console.log($(this).text());
            //strP = $(this).text()
            $(this).text(cutString($(this).text(), 150));
        });
    });
</script>

{% endblock %}

