{% extends 'base.html' %}

{% block title %}
    {{title_name}}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center"> 
        <div class="page-header">
            <div class="container">
                <h1>{{ self.title() }}</h1>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-sm">
            <audio autoplay="autoplay" 
                controls="controls"
                preload="auto"
                controlsList="nodownload" 
                >
                <source src="/static/media/{{ videofile }}" type="audio/mpeg">
            </audio>
        </div>
    </div>
</div>

{% endblock %}
