{% extends 'base.html' %}

{% block title %}
    {{title_name}}
{% endblock %}

{% block content %}


<div class="container">
    <div class="jumbotron">
        <h5 class="display-6">{{ self.title() }}</h5>
        <p>
            <a href="{{videoLink}}" target="_blank">视频链接</a>
        </p>
    </div> 
    <div class="row justify-content-md-center">     
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <p>
                <audio autoplay="autoplay" 
                    controls="controls"
                    preload="auto"
                    controlsList="nodownload" 
                    id="myAudio"
                    >
                    <source src="/static/media/{{ videofile }}" type="audio/mpeg">
                </audio>
              </p>


                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <div class="btn-group">
                            <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              定时关闭
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#" onclick="task(10)">10分钟后</a>
                              <a class="dropdown-item" href="#" onclick="task(20)">20分钟后</a>
                              <a class="dropdown-item" href="#" onclick="task(30)">30分钟后</a>
                            </div>
                          </div>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                播放速率
                            </button>
                            <div class="dropdown-menu">
                            <a class="dropdown-item" href="#" onclick="changeSped(1)">1x</a>
                            <a class="dropdown-item" href="#" onclick="changeSped(1.25)">1.25x</a>
                            <a class="dropdown-item" href="#" onclick="changeSped(1.5)">1.5x</a>
                            <a class="dropdown-item" href="#" onclick="changeSped(1.75)">1.75x</a>
                            <a class="dropdown-item" href="#" onclick="changeSped(2)">2x</a>
                            </div>
                        </div>
                    </div>
                </div>

              <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <button type="button" id="btnPlay"  class="btn btn-success">播放</button>
                </div>
                </div>


            
        </div>
    </div>
</div>
{% endblock %}





{% block scripts %}
{{ super() }}
<script language="javascript" type="text/javascript">
    //播放和暂停
    $(document).ready(function(){
        $('#btnPlay').click(function() {
            if (myAudio.paused) {
                myAudio.play();
                $("#btnPlay").text('暂停');
            } else {
                $("#btnPlay").text('播放');
                myAudio.pause();
        }
        });

        //断点续播
        var currentTime = localStorage.getItem("{{videoId}}");
        //console.log(currentTime);
        $('#myAudio').on('loadedmetadata',function(){
            this.currentTime = currentTime;
        });
        $("#myAudio").on('timeupdate',function(){
            var currentTime = Math.floor(myAudio.currentTime);
            localStorage.setItem("{{videoId}}",currentTime);
        });

    });

    //定时关闭
    var myInterval;
    function task(t){
        myInterval = setInterval(stopPlay, t*60*1000);
    };
    function stopPlay(){
        $('#btnPlay').trigger("click");
        //$("#btnPlay").text('播放');
        //myAudio.pause();
        clearInterval(myInterval);
    }

    //播放速率
    function changeSped(x){
        myAudio.playbackRate = x;
    }

</script>
{% endblock %}
