{% extends 'bootstrap/base.html' %}  #声明继承

{% block title %}{{ title_name }}{% endblock %}
{% block navbar %}
    {{ nav.top.render() }}
{% endblock %}
{% block content %}
<div class="page-header">
    <div class="container">
        <h1>{{ self.title() }}</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <ul class="nav nav-pills" role="tablist">
            {% for item in list %}
            <li role="presentation"><a href="#">{{item[0]}} <span class="badge">{{item[1]}}</span></a></li>
            {% endfor %}
        </ul>
    </div>
    <div class='row'>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% for page in range(1, total_page) %}
                        <li class="active"><a href="?page={{page}}">{{page}} <span class="sr-only">(current)</span></a></li>
                    {% endfor %}
                </ul>
            </nav>
    </div>
</div>
{% endblock content %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css">
{% endblock %}