{% extends 'base.html' %}

{% block title %}
    {{title_name}}
{% endblock %}

{% block content %}
<div class="container">    
    <div class="row">
        {% for item in list %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">关键字:{{item.tags}}</h6>
            <p class="card-text">{{item.content}}</p>
            <p>
                <span>{{item.published}}</span>
            </p>
            <a href="{{item.link}}" class="card-link">阅读</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="{{ url_for('keywordRank.newslist', page=current_page-1)}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for page in range(1, total_page) %}
                {% if current_page == page %}
                    <li class="page-item active">                    
                        <span class="page-link">
                            <a href="{{ url_for('keywordRank.newslist', page=page)}}">
                                {{page}}
                            </a>
                        </span>
                    </li>
                {% else %}
                    <li class="page-item">                    
                        <span class="page-link">
                            <a href="{{ url_for('keywordRank.newslist', page=page)}}">
                                {{page}}
                            </a>
                        </span>
                    </li>
                {% endif %}
            {% endfor %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('keywordRank.newslist', page=current_page+1)}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
      </nav>
    
</div>

{% endblock %}


