{% extends 'base.html' %}

{% block title %}
    {{title_name}}
{% endblock %}

{% block content %}
<div class="container">    
    <div class="row justify-content-md-center">  
        {% for item in list %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">关键字:{{item.tags}}</h6>
            <p class="card-text">{{item.content}}</p>
            <p>
                <span>{{item.published}}</span>
            </p>
            <a href="{{item.link}}" class="card-link">阅读</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row justify-content-md-center"> 
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            
            {% if current_page == 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('keywordRank.newslist', page=1)}}" aria-label="Previous">
                    <span aria-hidden="true">Previous</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('keywordRank.newslist', page=current_page-1)}}" aria-label="Previous">
                    <span aria-hidden="true">Previous</span>
                    </a>
                </li>
            {% endif %}
            {% if current_page == total_page %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('keywordRank.newslist', page=current_page)}}" aria-label="Next">
                    <span aria-hidden="true">Next</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('keywordRank.newslist', page=current_page+1)}}" aria-label="Next">
                    <span aria-hidden="true">Next</span>
                    </a>
                </li>
            {% endif %}
        </ul>
      </nav>
    </div>
    
</div>

{% endblock %}


