<!DOCTYPE html>
<html lang="zh-CN">
<head  th:replace="layout/header :: header"/>
<body>
<nav th:replace="layout/nav :: nav"></nav>

<div class="container" layout:fragment="content" >
    <div class="starter-template">
        <h1>你好，世界！</h1>
        <h1 th:text="${host}"></h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div>

</div><!-- /.container -->

<div th:replace="layout/footer :: footer"></div>

</body>
</html>

